.land
{
    fill: #CCCCCC;
    fill-opacity: 1;
    stroke:#999999;
    stroke-opacity: 1;
    stroke-width:0.5;
}
.titles{
    display: inline-block;

    color:#003366;
    font-size: 16px;  /*18*/
    font-family: sans-serif;
}

.titles:first-child>.separator {
    display: none
}

.separator{
    display: inline-block;
    margin: 15px;
    font-size: 22px; /*24*/
}
.separator:only-child(0){
    display: none;
}
.titles:hover{

}
.titles>text:hover{
    cursor: pointer;
    color:#8C8C8C;
}

.selected
{
    fill: #0066ff;
    fill-opacity: 1;
    stroke:white;
    stroke-opacity: 1;
    stroke-width:0.5;
    transition:all 1s  ;
}
#header{
    margin-left: 30px;
}
#offices {
    align-content: center;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 350px;
    margin-left: -355px;
    margin-top: -10px;
    top: -10px;
    vertical-align: top;
    width: 310px;
}
#content {
    display: inline-block;
    width: 100%;
    max-width: 800px;
    margin-top: 30px;
}
#textDescription {
    fill: #666666;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    transform: translate(30px, 20px);
}
#textUrl {
    cursor: pointer;
    fill: #003366;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    transform: translate(535px, 400px);
}
.directionContent {
    background-image: url('listIcon.png');
    background-position: left top;
    background-repeat: no-repeat;
    vertical-align: middle;
    padding-left: 22px;
    margin-bottom: 10px;
    color: #666666;
    font-family: Arial;
    font-size: 14px;
    padding-top: 5px;
}

